<%= render Page::CardComponent.new do |c| %>
  <% c.with_header do %>
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Library</h2>
  <% end %>
  <% c.with_sidebar do %>
    <%= render Book::IndexComponent::SidebarComponent.new %>
  <% end %>
<% end %>